body {
  background: linear-gradient(to bottom right, #00537e, #3aa17e);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center; /* Centro el texto de la página */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 80px; /* Agrego un poco de margen en la parte inferior */
}

h1 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
}

p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 2rem;
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #31a1a1;
  transition: all 0.3s ease;
  margin-top: 50px;
}

.btn:hover {
  background: #008dbd;
  cursor: pointer;
}
